<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_FILE" value="spring.log"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.aimia" level="INFO"/>
    <appender name="defaultLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/normal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log/excel.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="defaultLog"/>
    </root>
</configuration>